# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# VSCode
.vscode/
*.code-workspace
.history/

# Logs
*.log

# Local development
.DS_Store

# Others
*.db
*.py
*.gif
*.bat
*.txt